/* Firs mobile design*/
:root {
    --dark-1:#111111;
    --dark-2:#555555;
    --dark-3:#777777;
    --dark-4:#999999;
    --light-1:#FFFFFF;
    --light-2:#EEEEEE;
    --Orange:#FF8139;
    --light-orange:#FFF0E8;
    --green:#39FFA0;
    --light-green:#EDFFF6;
    --pink:#FF3998;
    --red:#FF3939;
    --grey:#CCCCCC; 
}
body{
   font-family: "Inter", sans-serif;
}
.container {
    margin: 4vh;
}
/*fonts*/
h1 {
    font-weight: 900;
    font: size 48px; ;
}
h2 {
    font-weight: 500;
    font-size: 40px;
}
h3 {
    font-weight: 500;
    font-size: 12px;
}
h4 {
    font-weight: 700;
    font-size: 16px;
}
h5{
    font-weight:500;
    font-size: 20px;
}

.header {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.container {
    margin: 4vh;
}
.text {
    color: var(--pink);
}
.navigation {
    display: none;
}
.soon {
    color: #FF3998;
}
.burger-item {
   background-color: var(--grey);
   width: 20px;
   height: 3px;
   border-radius: 3px;
}
.burger {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    height: 21px;
}
@media screen and (min-width:769px) {
    h1 {
        font-size: 96px;
        font-weight: 900;
    }
    .Best-auction-offer {
        margin: 6vh;
    }
    .burger-item {
        display: none;
    }
    .navigation {
        justify-content: space-between;
        display: flex;
        width: 40vh;
    }
    .navigation li {
        list-style-type: none;
        color: var(--grey);
    }
}

.first {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-bottom: 0;
    margin: 6vh;
}
button {
    border-radius: 40px;
    border: solid 5px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    background-image:  linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
                       linear-gradient(to right, rgb(224, 34, 161), red, orange, green);
    background-color: var(--white);
    padding:20px 50px;
    font-weight:600;
    font-size:20px;
}
.text { 
     color: var(--pink);
}
.Dont-mis {
   padding: 4vh 1vh;
   max-width: 600px;
}
#pink-robot {
    display: block;
    margin-bottom: 0%;
    width: 500px;
}

@media screen and(min-width: 769px) {
    #pink-robot {
        width: 768px;
        display: block;
        margin-bottom: 0;
    }
}
    
.second-container {
    background-image: url("assets/background.svg");
    padding: 4vh;
    height: 300px;
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: end;
    border-radius: 0;
    margin: 0;
}
@media screen and (min-width: 769px) {
    .second-container {
        border-radius: 10px;
        margin: 0 6vh;
    }
}
.grid-partners-logo {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5vh 0;
}
.partner-logo-1,.partner-logo-2,.partner-logo-3
{
   max-width: 155px;
   overflow: hidden;
}
.partner-logo-4, .partner-logo-5 {
    display: none;
}
@media screen and (min-width: 769px) {
 .grid-partners-logo {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
 }
 .partner-logo-1,.partner-logo-2,.partner-logo-3 {
    max-width: 100%;
 }
 .partner-logo-4, .partner-logo-5 {
    display: inline;
 }
}
.underline-text {
    text-decoration: underline;
    color: var(--dark-2);   
} 
.auction {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    padding: 4vh 0;
}
.bid {
    color: var(--dark-4);
    text-align: right;
}
.offer {
    display: flex;
}
.time-to.end {
    text-align: right;
    margin: 0;
}
.green-container-img {
    margin-bottom: 0;
    margin: auto;
    display: block;
}
.line {
    margin-top: 0;
    color: var(--grey);
    width: 100%;
}
.socialmedia {
padding-left: 0;
width: 100px;
justify-content: space-between;
display: flex;
list-style: none;
}
.class {
    color: var(--dark-4);
}
.right-side {
    flex-wrap: wrap;
    font-size: 15px;
    display: flex;
    color: var(--dark-4);
}
.right-side li:first-of-type {
    font-weight: 650;
    padding-bottom: 10px;
    color: var(--dark-2);
    letter-spacing: 01em;
}
.left-side {
    padding: 4vh 2vh;
}
ul li {
    list-style-type: none;
    line-height: 4vh;
}
ul li a {
    color: var(--dark-3);
    text-decoration: none;
}
.info {
    width: 180px;
    padding: 0 2vh;  
}
.copyright {
    display: flex;
    padding: 4vh 2vh 0 2vh;
    color: var(--grey);
    justify-content: space-between;
}
.copyright-right-side {
    display: none;
}
@media screen and (min-widht:769px) {
.last-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}   
.info {
 padding: 0 2vh;
 width: 70px;
}
.right-side {
    gap: 2vh;
}
.copyright-right-side {
    display: inline;
}
